name: Deploy to dev / main
on:
  pull_request:
    types: [ ready_for_review, opened, synchronize ]

jobs:
  build-deploy:
    name: "Build and deploy to main"
    permissions:
      contents: "read"
      id-token: "write"
    uses: navikt/bidrag-workflow/.github/workflows/deploy.yaml@main
    secrets: inherit
    with:
      nais_variabler_filnavn: main.yaml
      java-version: 21


  deploy_unleash:
    runs-on: ubuntu-latest
    name: Deploy unleash
    needs: build-deploy

    steps:
      - uses: actions/checkout@v4
        with:
          path: deploy
      - name: Deploy unleash to dev-gcp
        uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: dev-gcp
          RESOURCE: deploy/.nais/unleash.yaml
          VARS: deploy/.nais/main.yaml